.tela-luta{
    background-image: url('../images/campo-grama-700.jpg');
    width: 700px;
    height: 354px;
    border: solid;
}

#pokemon{
    position: absolute;
    background-repeat: no-repeat;
    left: 30px;
    top: 150px;
    border: solid;
    height: 250px;
    width: 250px;
    background-position: center, center;
}

#pokemon2{
    background-size: 180px 180px;
    background-repeat: no-repeat;
    position: absolute;
    left: 400px;
    margin-top: 10px;
    border: solid;
    height: 250px;
    width: 250px;
    background-position: center, center;
}

#barra{
    background-image: url('../images/barra.png');
    
    position: absolute;
    height: 120px;
    width: 300px;
    margin-top: 300px;
    margin-left: 150px;
    opacity: 80%;
    z-index: 1;
}
#atk{
    position: absolute;
    left: 60px;
    top: 30px;
    height: 50px;
    width: 50px;
    background-image: url('../images/atk-50.png');
}
#def{
    position: absolute;
    left: 140px;
    top: 30px;
    height: 50px;
    width: 50px;
    background-image: url('../images/shield-50.png');
}
@keyframes ataque{
    0%{
       left: 30px;
       top: 150px; 
    }
    50%{
        left: 300px;
        top: 45px;
        background-size: 180px 180px;
    }
    100%{
        left: 30px;
        top: 150px;
    }
}
@keyframes balanco {

    0%{
        top: 0;
    }
    50%{
        top: 5px;
    }
    100%{
        top: 0;
    }


  }


.balanco {
    animation: balanco 1s infinite;
}
  